@mixin link-hover-animation {
  .hover-underline-animation {
    display: inline-block;
    position: relative;
  
    &:hover{
      color: $red;
    }
  
    &:after{
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: $red;
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }
  
    &:hover:after{
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
}

@mixin article-preview-footer(){
  .author-image{
    width: 2.5rem;
    height: 2.5rem;
  }

  .author-name{
    font-size: .8rem;


    span{
      font-weight: 600;
    }
  }
}