<div class="social">
  
  <a href="https://www.facebook.com/" class="social-banner">
    <div class="text-center py-3 rounded instagram">
      <i class="fa-brands fa-instagram"></i>
      <h5>1.5K Fans</h5>
    </div>
  </a>
  
  <a href="https://www.facebook.com/" class="social-banner">
    <div class="text-center py-3 rounded facebook">
      <i class="fa-brands fa-facebook-square"></i>
      <h5>1.5K Fans</h5>
    </div>
  </a>
  
  <a href="https://www.facebook.com/" class="social-banner">
    <div class=" text-center py-3 rounded youtube">
      <i class="fa-brands fa-youtube"></i>
      <h5>1.5K Fans</h5>
    </div>
  </a>
</div>
