<nav class="navbar navbar-expand-lg">
  <a routerLink="home" class="navbar-brand"><img src="/assets/img/logo.png" alt="Logo"></a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav m-auto">
      <li class="nav-item">
        <a routerLink="home" routerLinkActive="active" 
          class="nav-link me-2 hover-underline-animation">Domov</a>
      </li>
      <li class="nav-item">
        <a routerLink="categories" routerLinkActive="active" 
          class="nav-link hover-underline-animation me-2">Kategórie</a>
      </li>
      <li class="nav-item">
        <a routerLink="tournaments" routerLinkActive="active" 
          class="nav-link hover-underline-animation me-2">Turnaje</a>
      </li>
      <li class="nav-item">
        <a routerLink="matches" routerLinkActive="active" 
          class="nav-link hover-underline-animation me-2">Zápasy</a>
      </li>
      <li class="nav-item">
        <a routerLink="blog" routerLinkActive="active" 
          class="nav-link hover-underline-animation me-2">Blog</a>
      </li>
      <li class="nav-item">
        <a routerLink="contact" routerLinkActive="active" 
          class="nav-link hover-underline-animation">Kontakt</a>
      </li>
    </ul>
  </div>
  <button class="btn btn-danger py-1 font-weight-bold">Subscribe</button>
</nav>
