@import '/src/assets/scss/variables';
@import '/src/assets/scss/mixins';

img{
  width: 6rem;
}

.active{
  color: $red;
  font-weight: 500;
}

.matches{
  position: relative;
}

.hover-color:hover{
  color: $red;
}

@include link-hover-animation();
