<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Por.</th>
        <th scope="col">Klub</th>
        <th scope="col">OZ</th>
        <th scope="col">V</th>
        <th scope="col">VPP</th>
        <th scope="col">VPSN</th>
        <th scope="col">PPSN</th>
        <th scope="col">PPP</th>
        <th scope="col">P</th>
        <th scope="col">Skóre</th>
        <th scope="col">Body</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tableRow of leagueTable">
        <th scope="row">{{ tableRow.rank }}</th>
        <td>{{ tableRow.club }}</td>
        <td>{{ tableRow.gamePlayed }}</td>
        <td>{{ tableRow.win }}</td>
        <td>{{ tableRow.lost }}</td>
        <td>{{ tableRow.overtimeWin }}</td>
        <td>{{ tableRow.shootoutWin }}</td>
        <td>{{ tableRow.shootoutLost }}</td>
        <td>{{ tableRow.overtimeLost }}</td>
        <td>{{ tableRow.score }}</td>
        <td>{{ tableRow.points }}</td>
      </tr>
    </tbody>
  </table>
</div>
