<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Por.</th>
        <th scope="col">Klub</th>
        <th scope="col">OZ</th>
        <th scope="col">V</th>
        <th scope="col">VPP</th>
        <th scope="col">VPSN</th>
        <th scope="col">PPSN</th>
        <th scope="col">PPP</th>
        <th scope="col">P</th>
        <th scope="col">Skóre</th>
        <th scope="col">Body</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
</div>
