@import '/src/assets/scss/variables';

.introduction{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  h1{
    font-size: 4rem;
    color: $red;
    letter-spacing: 1rem;
  }
  span{
    font-weight: 600;
    font-size: 1.1rem;
  }
}