<div class="introduction">
  <p>
    <span>Hokjebal Môže Hrať Každý.</span> Občianske združenie, športový klub na podporu hokejbalu. Práca s mládežou, výchova mladých športovcov. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt itaque maiores quae, autem nobis facilis debitis aperiam sunt adipisci. In, deleniti fugit odit laboriosam illum ipsa doloremque repellendus minus recusandae!
  </p>
  <h1 class="text-center py-3 lette">HMHK</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores tempore explicabo commodi quibusdam. Numquam doloremque ex, sed doloribus aut molestias ut aliquam, enim, voluptatibus veritatis quae distinctio pariatur asperiores quibusdam.
  </p>
</div>
