@import '/src/assets/scss/variables';

#about-us{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr, .5fr;
  gap: 2rem;
  grid-template-areas: 
    "im i"
    "h i";

  margin-bottom: 5rem;
  .club-image{
    background: {
      image: url('/assets/img/articleTest.jpg');
      size: cover;
      position: 50% 50%;
    }
    grid-area: im;
    padding: 10rem;
    border-radius: .2rem;
  }

  .history{ 
    grid-area: h; 
    border-top: 5px solid lighten( #a09d95, 10%);
    padding-top: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .intro{ 
    grid-area: i; 
    border-left: 5px solid lighten( #a09d95, 10%);
    padding-left: 4rem;
    padding-right: 3rem;
    
  }
}